.component_picker_item{
    position: relative;
    height: 125px;
    border-radius: 5px;
    cursor: pointer;
    margin: 6px 4px;
    padding: 4px 4px;
    display: inline-block;
    box-sizing: border-box;
    width: 46%;
}

#light .component_picker_item{
    background-color: #F2F2F2;
}

#light .component_picker_item:hover{
    box-shadow: 0px 0px 5px 1px #1f77eb69;
    background-color: #ffffff;
}

#light .component_picker_item:hover .component_picker_item_name{
    color: #1f77eb;
}

#dark .component_picker_item{
    background-color: #2C2C2C;
}

#dark .component_picker_item:hover{
    box-shadow: 0px 0px 5px 1px #00aeff69;
    background-color: #393939;
}

#dark .component_picker_item:hover .component_picker_item_name{
    color: #00aeff;
}

.component_picker_item_icon{
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    justify-content: center;
}

.component_picker_item_icon img{
    width: 64px;
    height: 64px;
    margin: auto;
    border: 0;
}

.component_picker_item_name{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 8pt;
    height: 2.3em;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: ltr;
    font-family: 'Courier New', Courier, monospace;
}

#dark .component_picker_item_name{
    color: white;
}