
.Switch .IO{
    opacity: 0;
}

.Switch .IO:hover{
    opacity: 100;
}

.Switch .Body{
    transition: 0.4s fill;
}

.Switch .Button{
    transition: 0.4s;
}

.Switch {
    transition: 0.5s;
}

.pushed-top-bottom {
    /*animation-duration: 0.5s;
    animation-name: off-top-bottom-animation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;*/
}

.pushed-side-bottom {
    /*animation-duration: 0.5s;
    animation-name: off-side-bottom-animation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;*/
}

@keyframes off-top-bottom-animation {
    0%   {d: path("M25.4364 55.5L22.5728 76.5H67.4272L64.5636 55.5H25.4364Z");}
    10%  {d: path("M25.4364 55.5L22.85916 77.5H67.14084L64.5636 55.5H25.4364Z");}
    20%  {d: path("M25.4364 55.5L23.14552 78.5H66.85448L64.5636 55.5H25.4364Z");}
    30%  {d: path("M25.4364 55.5L23.43188 79.5H66.56812L64.5636 55.5H25.4364Z");}
    40%  {d: path("M25.4364 55.5L23.71824 80.5H66.28176L64.5636 55.5H25.4364Z");}
    50%  {d: path("M25.4364 55.5L24.0046 81.5H65.9954L64.5636 55.5H25.4364Z");}
    60%  {d: path("M25.4364 55.5L24.29096 82.5H65.70904L64.5636 55.5H25.4364Z");}
    70%  {d: path("M25.4364 55.5L24.57732 83.5H65.42268L64.5636 55.5H25.4364Z");}
    80%  {d: path("M25.4364 55.5L24.86368 84.5H65.13632L64.5636 55.5H25.4364Z");}
    90%  {d: path("M25.4364 55.5L25.15004 85.5H64.84996L64.5636 55.5H25.4364Z");}
    100% {d: path("M25.4364 55.5L25.4364 86.5H64.5636L64.5636 55.5H25.4364Z");}
}

@keyframes off-side-bottom-animation {
    0%   {d: path("M25.375 86.5L22.6728 77.5H67.3272L64.628 86.5H25.375Z");}
    10%  {d: path("M25.375 86.5L22.95916 78.5H67.04084L64.628 86.5H25.375Z");}
    20%  {d: path("M25.375 86.5L23.24552 79.5H66.75448L64.628 86.5H25.375Z");}
    30%  {d: path("M25.375 86.5L23.53188 80.5H66.46812L64.628 86.5H25.375Z");}
    40%  {d: path("M25.375 86.5L23.81824 81.5H66.18176L64.628 86.5H25.375Z");}
    50%  {d: path("M25.375 86.5L24.1046 82.5H65.8954L64.628 86.5H25.375Z");}
    60%  {d: path("M25.375 86.5L24.39096 83.5H65.60904L64.628 86.5H25.375Z");}
    70%  {d: path("M25.375 86.5L24.67732 84.5H65.32268L64.628 86.5H25.375Z");}
    80%  {d: path("M25.375 86.5L24.96368 85.5H65.03632L64.628 86.5H25.375Z");}
    90%  {d: path("M25.375 86.5L25.25004 85.5H64.74996L64.628 86.5H25.375Z");}
    100% {d: path("M25.375 86.5L25.5364 85.5H64.4636L64.628 86.5H25.375Z");}
}