#light .wire-background{
    opacity: 0.0;
}

#dark .wire-background{
    opacity: 0.0;
}

#light .wire-background-selected{
    stroke: #0000ff;
    opacity: 0.2;
}

#dark .wire-background-selected{
    stroke: #4747ff;
    opacity: 0.5;
}
