.component_picker_search{
    margin: 10px;
    position: relative;
    display: flex;
}

.component_search_input{
    padding: 7px 8px;
    font-size: 15px;
    flex-grow: 1;
}

.component_search_form{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.component_search_btn{
    background: none;
    border: 0;
    position: absolute;
    right: 7px;
    top: 5px;
    padding: 0;
}

.component_search_logo{
    width: 25px;
    height: 25px;
}

.component_search_logo{
    fill: #dfdfdf;
}

.component_search_logo:hover{
    fill: #575757;
}