.toolbar {
    position: relative;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 99;
}

#light .toolbar {
    background-color: #EFEFEF;
    border-bottom: 1px solid #dfe2e6;
}

#dark .toolbar {
    background-color: #2C2C2C;
    border-bottom: 1px solid #444444;
}

#light .toolbar-icon {
    padding: 0 15px;
    height: 50px;
    width: 20px;
    fill: #b9b9b9;
}

#dark .toolbar-icon {
    padding: 0 15px;
    height: 50px;
    width: 20px;
    fill: #555353;
}

#light .toolbar_active_btn {
    cursor: pointer;
    fill: black;
}

#dark .toolbar_active_btn {
    cursor: pointer;
    fill: white;
}

#light .toolbar_active_btn:hover {
    fill: #1f77eb;
}

#dark .toolbar_active_btn:hover {
    fill: #00aeff;
}

#light .toolbar_borderleft{
    border-left: 1px solid #dfe2e6;
}

#light .toolbar_borderright{
    border-right: 1px solid #dfe2e6;
}

#dark .toolbar_borderleft{
    border-left: 1px solid #444444;
}

#dark .toolbar_borderright{
    border-right: 1px solid #444444;
}