.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  user-select: none;
}

#light {
  background-color: #F7F7F7;
}

#dark {
  background-color: #1E1E1E;
}

.display-none {
  display: none;
}

.notransition *{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

input:focus {
  outline: none;
}